workflows/Scheduled_Automation_-_Maintain_N8N_Workflows_Repo.json
{"createdAt":"2024-11-08T19:51:44.584Z","updatedAt":"2024-11-12T22:42:30.489Z","id":"LkLoe0l12gxmsdJm","name":"Scheduled Automation - Maintain N8N Workflows Repo","active":false,"nodes":[{"parameters":{},"id":"1722fb8b-a9fe-4091-8b8b-2a187ab95b13","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[1080,700],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"22f3bafb-3a4c-4b40-8009-a786b5a5aa4a","name":"n8n","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1720,440],"alwaysOutputData":true,"credentials":{"n8nApi":{"id":"fLrOePcw706PaIVj","name":"n8n account"}}},{"parameters":{"rule":{"interval":[{}]}},"id":"5b0484f9-b41e-4b70-8027-a84606e91fc2","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[1080,420]},{"parameters":{},"id":"86cfe715-5fcd-4f3e-ba80-696eb9baa39b","name":"Start Workflow","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1280,560]},{"parameters":{},"id":"3839d02f-de31-4c18-af63-e54b85cb5984","name":"Get N8N Workflow data","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1500,440]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"PhillypHenning","mode":"list","cachedResultName":"PhillypHenning","cachedResultUrl":"https://github.com/PhillypHenning"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/PhillypHenning/n8n-workflows"},"filePath":"workflows/"},"id":"22faccf4-6390-4845-8cc5-b839efa36865","name":"GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[1720,700],"credentials":{"githubApi":{"id":"whjIigQshwhek0Hu","name":"GitHub account"}}},{"parameters":{"language":"python","pythonCode":"workflow_files = []\n\nfor item in _input.all():\n    fn = item.json.name\n    fnp = fn.replace(\" \", \"_\") + \".json\"\n    workflow_files.append({\"workflow_filename\": fnp, \"content\": item.json })\n\n# Return items in a format N8N expects\nreturn workflow_files"},"id":"6becf5d8-7d9a-4c79-9293-4109dc25a425","name":"Create file name from workflows","type":"n8n-nodes-base.code","typeVersion":2,"position":[1900,440]},{"parameters":{"language":"python","pythonCode":"files_in_github = []\n\nfor item in _input.all():\n    fn = item.json.name\n    sha = item.json.sha\n    files_in_github.append({\"github_filename\": fn, \"github_sha\": sha})\n\n# Return items in a format N8N expects\nreturn files_in_github"},"id":"f6e41f37-db0b-4287-9eac-ff1de1ba076f","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[1900,700]},{"parameters":{"language":"python","pythonCode":"workflow_files = _('Create file name from workflows').all()\ngithub_files = _('Code').all()\n\n# Initialize empty lists to hold combined output\nworkflow_file_list = []\ngithub_file_list = []\n\n# Convert objects to a list and extract filenames\nfor item in workflow_files:\n    if 'workflow_filename' in item.json:\n        workflow_file_list.append({'filename': item.json['workflow_filename'], \"content\": item.json['content']})\n\nfor item in github_files:\n    if 'github_filename' in item.json:\n        github_file_list.append(item.json['github_filename'])\n\n# Separate the files into create and modify lists\ncreate_files = [x for x in workflow_file_list if x[\"filename\"] not in github_file_list]\nmodify_files = [x for x in workflow_file_list if x[\"filename\"] in github_file_list]\n\nprint(workflow_file_list)\nprint(github_file_list)\n\n# Return the data in the required format for n8n\nreturn [\n    {\"create_files\": create_files},\n    {\"modify_files\": modify_files}\n]"},"id":"192a6100-a8aa-47c4-b4a9-8ac818554f90","name":"Code1","type":"n8n-nodes-base.code","typeVersion":2,"position":[2520,900]},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"PhillypHenning","mode":"list","cachedResultName":"PhillypHenning","cachedResultUrl":"https://github.com/PhillypHenning"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/PhillypHenning/n8n-workflows"},"filePath":"=workflows/{{ $json.filename }}","fileContent":"={{JSON.stringify($json.content)}}","commitMessage":"Created by N8N workflow"},"id":"5fd9caee-15c9-458f-8ed3-9f6811d42b15","name":"GitHub2","type":"n8n-nodes-base.github","typeVersion":1,"position":[2900,820],"credentials":{"githubApi":{"id":"whjIigQshwhek0Hu","name":"GitHub account"}}},{"parameters":{"fieldToSplitOut":"create_files","options":{}},"id":"1d6804f2-b4e0-4879-aed3-c2666d576b8e","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2720,820]},{"parameters":{"fieldToSplitOut":"modify_files","options":{}},"id":"a650ecd1-b749-43cd-90b5-22eae9da6e43","name":"Split Out1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2720,980]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"PhillypHenning","mode":"list","cachedResultName":"PhillypHenning","cachedResultUrl":"https://github.com/PhillypHenning"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/PhillypHenning/n8n-workflows"},"filePath":"=workflows/{{ $json.filename }}","fileContent":"={{JSON.stringify($json.content)}}","commitMessage":"Created by N8N workflow"},"id":"219b33f6-3475-4b87-bfcd-945cbd1f7424","name":"GitHub3","type":"n8n-nodes-base.github","typeVersion":1,"position":[2900,980],"credentials":{"githubApi":{"id":"whjIigQshwhek0Hu","name":"GitHub account"}}},{"parameters":{},"id":"29254ab3-f94d-4568-968f-2de6aab33019","name":"Get Github Repo Listing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1500,700]},{"parameters":{},"id":"fa6d48e3-a56f-4645-a966-91772c9c3570","name":"using native nodes","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2360,360],"disabled":true},{"parameters":{},"id":"0d628fed-7508-4d3a-ad64-17070cf0c9d0","name":"Using Code Nodes","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2340,900]},{"parameters":{},"id":"47c8555c-6ef9-4940-957e-739406875d54","name":"Merge3","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2140,560]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"github_filename","renameField":true,"outputFieldName":"github_filenames"}]},"options":{}},"id":"6a665a40-66a2-407d-b9ca-17a39be0f26c","name":"Aggregate2","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2720,520],"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f3e66104-03a3-4762-ad6c-15befe36bdda","leftValue":"={{ $('Aggregate2').first().json.github_filenames }}","rightValue":"={{ $json.workflow_filename }}","operator":{"type":"array","operation":"contains","rightType":"any"}},{"id":"3bd5777a-f57b-48bc-bbb2-ed69060b16ee","leftValue":"={{ $json.workflow_filename }}","rightValue":"github_filenames","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"c5d555cf-b1cc-4d74-bbe2-93518f8ae966","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3280,380],"disabled":true},{"parameters":{"fieldToSplitOut":"workflow_filename","include":"selectedOtherFields","fieldsToInclude":"content","options":{}},"id":"abbda0c6-d19e-45d2-af13-233d6ea90f99","name":"Split Out2","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2720,360],"disabled":true},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"PhillypHenning","mode":"list","cachedResultName":"PhillypHenning","cachedResultUrl":"https://github.com/PhillypHenning"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/PhillypHenning/n8n-workflows"},"filePath":"=workflows/{{ $json.workflow_filename }}","fileContent":"={{JSON.stringify($json.content)}}","commitMessage":"Created by N8N workflow"},"id":"7ec4b155-f8f1-4f95-8f53-23ce16c4be99","name":"GitHub6","type":"n8n-nodes-base.github","typeVersion":1,"position":[3480,480],"credentials":{"githubApi":{"id":"whjIigQshwhek0Hu","name":"GitHub account"}},"disabled":true},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"PhillypHenning","mode":"list","cachedResultName":"PhillypHenning","cachedResultUrl":"https://github.com/PhillypHenning"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/PhillypHenning/n8n-workflows"},"filePath":"=workflows/{{ $json.workflow_filename }}","fileContent":"={{JSON.stringify($json.content)}}","commitMessage":"Created by N8N workflow"},"id":"e1782f58-5f69-4bac-be19-7a6c79aedc99","name":"GitHub7","type":"n8n-nodes-base.github","typeVersion":1,"position":[3480,240],"credentials":{"githubApi":{"id":"whjIigQshwhek0Hu","name":"GitHub account"}},"disabled":true},{"parameters":{},"id":"2674d831-c1e5-4f5e-a2bb-4c2004dc4970","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2920,380],"disabled":true},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c4495f8f-e679-49c4-80d6-f217a0ee05a4","leftValue":"={{ $json.workflow_filename }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"02356438-c8a8-4ad3-8e5b-c387c7c886de","name":"Filter","type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[3100,380],"disabled":true}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Start Workflow","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Start Workflow","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Create file name from workflows","type":"main","index":0}]]},"Get N8N Workflow data":{"main":[[{"node":"n8n","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Code1":{"main":[[{"node":"Split Out","type":"main","index":0},{"node":"Split Out1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"GitHub2","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"GitHub3","type":"main","index":0}]]},"Get Github Repo Listing":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"Create file name from workflows":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Start Workflow":{"main":[[{"node":"Get N8N Workflow data","type":"main","index":0},{"node":"Get Github Repo Listing","type":"main","index":0}]]},"Using Code Nodes":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"using native nodes","type":"main","index":0},{"node":"Using Code Nodes","type":"main","index":0}]]},"using native nodes":{"main":[[{"node":"Aggregate2","type":"main","index":0},{"node":"Split Out2","type":"main","index":0}]]},"If1":{"main":[[{"node":"GitHub7","type":"main","index":0}],[{"node":"GitHub6","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Split Out2":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"If1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"76b0476b-2818-41ce-9076-be7ef4c63ca7","triggerCount":1,"tags":[]}