workflows/Scheduled_Automation_-_Maintain_N8N_Workflows_Repo.txt
{"createdAt":"2024-11-08T19:51:44.584Z","updatedAt":"2024-11-08T21:04:46.088Z","id":"LkLoe0l12gxmsdJm","name":"Scheduled Automation - Maintain N8N Workflows Repo","active":false,"nodes":[{"parameters":{},"id":"1722fb8b-a9fe-4091-8b8b-2a187ab95b13","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[820,360],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"22f3bafb-3a4c-4b40-8009-a786b5a5aa4a","name":"n8n","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1640,60],"alwaysOutputData":true,"credentials":{"n8nApi":{"id":"fLrOePcw706PaIVj","name":"n8n account"}}},{"parameters":{"rule":{"interval":[{}]}},"id":"5b0484f9-b41e-4b70-8027-a84606e91fc2","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[820,180]},{"parameters":{},"id":"86cfe715-5fcd-4f3e-ba80-696eb9baa39b","name":"Start Workflow","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1080,280]},{"parameters":{},"id":"3839d02f-de31-4c18-af63-e54b85cb5984","name":"Get N8N Workflow data","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1360,160]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"PhillypHenning","mode":"list","cachedResultName":"PhillypHenning","cachedResultUrl":"https://github.com/PhillypHenning"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/PhillypHenning/n8n-workflows"},"filePath":"workflows/"},"id":"22faccf4-6390-4845-8cc5-b839efa36865","name":"GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[1640,380],"credentials":{"githubApi":{"id":"whjIigQshwhek0Hu","name":"GitHub account"}}},{"parameters":{"language":"python","pythonCode":"workflow_files = []\n\nfor item in _input.all():\n    fn = item.json.name\n    fnp = fn.replace(\" \", \"_\") + \".txt\"\n    workflow_files.append({\"workflow_filename\": fnp, \"content\": item.json })\n\n# Return items in a format N8N expects\nreturn workflow_files"},"id":"6becf5d8-7d9a-4c79-9293-4109dc25a425","name":"Create file name from workflows","type":"n8n-nodes-base.code","typeVersion":2,"position":[1860,60]},{"parameters":{"language":"python","pythonCode":"files_in_github = []\n\nfor item in _input.all():\n    fn = item.json.name\n    files_in_github.append({\"github_filename\": fn})\n\n# Return items in a format N8N expects\nreturn files_in_github"},"id":"f6e41f37-db0b-4287-9eac-ff1de1ba076f","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[1860,380]},{"parameters":{"language":"python","pythonCode":"workflow_files = _('Create file name from workflows').all()\ngithub_files = _('Code').all()\n\n# Initialize empty lists to hold combined output\nworkflow_file_list = []\ngithub_file_list = []\n\n# Convert objects to a list and extract filenames\nfor item in workflow_files:\n    if 'workflow_filename' in item.json:\n        workflow_file_list.append({'filename': item.json['workflow_filename'], \"content\": item.json['content']})\n\nfor item in github_files:\n    if 'github_filename' in item.json:\n        github_file_list.append(item.json['github_filename'])\n\n# Separate the files into create and modify lists\ncreate_files = [x for x in workflow_file_list if x[\"filename\"] not in github_file_list]\nmodify_files = [x for x in workflow_file_list if x[\"filename\"] in github_file_list]\n\nprint(workflow_file_list)\nprint(github_file_list)\n\n# Return the data in the required format for n8n\nreturn [\n    {\"create_files\": create_files},\n    {\"modify_files\": modify_files}\n]"},"id":"192a6100-a8aa-47c4-b4a9-8ac818554f90","name":"Code1","type":"n8n-nodes-base.code","typeVersion":2,"position":[2260,220]},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"PhillypHenning","mode":"list","cachedResultName":"PhillypHenning","cachedResultUrl":"https://github.com/PhillypHenning"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/PhillypHenning/n8n-workflows"},"filePath":"=workflows/{{ $json.filename }}","fileContent":"={{JSON.stringify($json.content)}}","commitMessage":"Created by N8N workflow"},"id":"5fd9caee-15c9-458f-8ed3-9f6811d42b15","name":"GitHub2","type":"n8n-nodes-base.github","typeVersion":1,"position":[2720,80],"credentials":{"githubApi":{"id":"whjIigQshwhek0Hu","name":"GitHub account"}}},{"parameters":{"fieldToSplitOut":"create_files","options":{}},"id":"1d6804f2-b4e0-4879-aed3-c2666d576b8e","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2500,80]},{"parameters":{},"id":"6aa4af0e-dcdb-4752-8c16-ba8713f72942","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2060,220]},{"parameters":{"fieldToSplitOut":"modify_files","options":{}},"id":"a650ecd1-b749-43cd-90b5-22eae9da6e43","name":"Split Out1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2500,320]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"PhillypHenning","mode":"list","cachedResultName":"PhillypHenning","cachedResultUrl":"https://github.com/PhillypHenning"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/PhillypHenning/n8n-workflows"},"filePath":"=workflows/{{ $json.filename }}","fileContent":"={{JSON.stringify($json.content)}}","commitMessage":"Created by N8N workflow"},"id":"219b33f6-3475-4b87-bfcd-945cbd1f7424","name":"GitHub3","type":"n8n-nodes-base.github","typeVersion":1,"position":[2720,320],"credentials":{"githubApi":{"id":"whjIigQshwhek0Hu","name":"GitHub account"}}}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Start Workflow","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Start Workflow","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Create file name from workflows","type":"main","index":0}]]},"Start Workflow":{"main":[[{"node":"Get N8N Workflow data","type":"main","index":0},{"node":"GitHub","type":"main","index":0}]]},"Get N8N Workflow data":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Create file name from workflows":{"main":[[{"node":"Merge","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Code1":{"main":[[{"node":"Split Out","type":"main","index":0},{"node":"Split Out1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"GitHub2","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"GitHub3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a61355fd-1892-46be-9724-a5dba4248ea0","triggerCount":1,"tags":[]}