workflows/Scheduled_Automation_-_Maintain_N8N_Workflows_Repo.txt
{"createdAt":"2024-11-08T19:51:44.584Z","updatedAt":"2024-11-08T21:57:13.577Z","id":"LkLoe0l12gxmsdJm","name":"Scheduled Automation - Maintain N8N Workflows Repo","active":false,"nodes":[{"parameters":{},"id":"1722fb8b-a9fe-4091-8b8b-2a187ab95b13","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","position":[940,360],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"22f3bafb-3a4c-4b40-8009-a786b5a5aa4a","name":"n8n","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1640,60],"alwaysOutputData":true,"credentials":{"n8nApi":{"id":"fLrOePcw706PaIVj","name":"n8n account"}}},{"parameters":{"rule":{"interval":[{}]}},"id":"5b0484f9-b41e-4b70-8027-a84606e91fc2","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[940,80]},{"parameters":{},"id":"86cfe715-5fcd-4f3e-ba80-696eb9baa39b","name":"Start Workflow","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1200,220]},{"parameters":{},"id":"3839d02f-de31-4c18-af63-e54b85cb5984","name":"Get N8N Workflow data","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1440,60]},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"PhillypHenning","mode":"list","cachedResultName":"PhillypHenning","cachedResultUrl":"https://github.com/PhillypHenning"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/PhillypHenning/n8n-workflows"},"filePath":"workflows/"},"id":"22faccf4-6390-4845-8cc5-b839efa36865","name":"GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[1640,360],"credentials":{"githubApi":{"id":"whjIigQshwhek0Hu","name":"GitHub account"}}},{"parameters":{"language":"python","pythonCode":"workflow_files = []\n\nfor item in _input.all():\n    fn = item.json.name\n    fnp = fn.replace(\" \", \"_\") + \".txt\"\n    workflow_files.append({\"workflow_filename\": fnp, \"content\": item.json })\n\n# Return items in a format N8N expects\nreturn workflow_files"},"id":"6becf5d8-7d9a-4c79-9293-4109dc25a425","name":"Create file name from workflows","type":"n8n-nodes-base.code","typeVersion":2,"position":[1840,60]},{"parameters":{"language":"python","pythonCode":"files_in_github = []\n\nfor item in _input.all():\n    fn = item.json.name\n    files_in_github.append({\"github_filename\": fn})\n\n# Return items in a format N8N expects\nreturn files_in_github"},"id":"f6e41f37-db0b-4287-9eac-ff1de1ba076f","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[1840,360]},{"parameters":{"language":"python","pythonCode":"workflow_files = _('Create file name from workflows').all()\ngithub_files = _('Code').all()\n\n# Initialize empty lists to hold combined output\nworkflow_file_list = []\ngithub_file_list = []\n\n# Convert objects to a list and extract filenames\nfor item in workflow_files:\n    if 'workflow_filename' in item.json:\n        workflow_file_list.append({'filename': item.json['workflow_filename'], \"content\": item.json['content']})\n\nfor item in github_files:\n    if 'github_filename' in item.json:\n        github_file_list.append(item.json['github_filename'])\n\n# Separate the files into create and modify lists\ncreate_files = [x for x in workflow_file_list if x[\"filename\"] not in github_file_list]\nmodify_files = [x for x in workflow_file_list if x[\"filename\"] in github_file_list]\n\nprint(workflow_file_list)\nprint(github_file_list)\n\n# Return the data in the required format for n8n\nreturn [\n    {\"create_files\": create_files},\n    {\"modify_files\": modify_files}\n]"},"id":"192a6100-a8aa-47c4-b4a9-8ac818554f90","name":"Code1","type":"n8n-nodes-base.code","typeVersion":2,"position":[2200,220]},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"PhillypHenning","mode":"list","cachedResultName":"PhillypHenning","cachedResultUrl":"https://github.com/PhillypHenning"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/PhillypHenning/n8n-workflows"},"filePath":"=workflows/{{ $json.filename }}","fileContent":"={{JSON.stringify($json.content)}}","commitMessage":"Created by N8N workflow"},"id":"5fd9caee-15c9-458f-8ed3-9f6811d42b15","name":"GitHub2","type":"n8n-nodes-base.github","typeVersion":1,"position":[2700,100],"credentials":{"githubApi":{"id":"whjIigQshwhek0Hu","name":"GitHub account"}}},{"parameters":{"fieldToSplitOut":"create_files","options":{}},"id":"1d6804f2-b4e0-4879-aed3-c2666d576b8e","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2520,100]},{"parameters":{"fieldToSplitOut":"modify_files","options":{}},"id":"a650ecd1-b749-43cd-90b5-22eae9da6e43","name":"Split Out1","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[2520,300]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"PhillypHenning","mode":"list","cachedResultName":"PhillypHenning","cachedResultUrl":"https://github.com/PhillypHenning"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/PhillypHenning/n8n-workflows"},"filePath":"=workflows/{{ $json.filename }}","fileContent":"={{JSON.stringify($json.content)}}","commitMessage":"Created by N8N workflow"},"id":"219b33f6-3475-4b87-bfcd-945cbd1f7424","name":"GitHub3","type":"n8n-nodes-base.github","typeVersion":1,"position":[2700,300],"credentials":{"githubApi":{"id":"whjIigQshwhek0Hu","name":"GitHub account"}}},{"parameters":{},"id":"29254ab3-f94d-4568-968f-2de6aab33019","name":"Get Github Repo Listing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1440,360]},{"parameters":{"assignments":{"assignments":[{"id":"4dfe5144-9363-4df4-b450-689076b0c463","name":"name","value":"={{ $json.name }}","type":"string"},{"id":"cc9cd212-5aab-4e95-aa3e-2305053f8bd4","name":"content","value":"={{ $json }}","type":"object"}]},"options":{}},"id":"53f90ad0-19d3-4910-a32c-31d88bf62016","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2500,-420]},{"parameters":{},"id":"018b87ee-0841-450d-87f8-087f48a24d80","name":"Using native nodes","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2320,-340]},{"parameters":{"assignments":{"assignments":[{"id":"4dfe5144-9363-4df4-b450-689076b0c463","name":"name","value":"={{ $('GitHub').item.json.name }}","type":"string"}]},"options":{}},"id":"f5537310-09d0-4abf-b5d5-1520ced658ea","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2500,-260]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"820f167e-a581-411a-acd8-04e379397637","leftValue":"={{ $json.github_files }}","rightValue":"={{ $json.workflow_name }}","operator":{"type":"array","operation":"notContains","rightType":"any"}}],"combinator":"and"},"options":{}},"id":"bef22974-5222-41ab-885c-87bd5e68441c","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3320,-320],"executeOnce":false},{"parameters":{"keys":{"key":[{"currentKey":"name","newKey":"workflow_name"}]},"additionalOptions":{}},"id":"657a63a1-8571-4506-9c0a-122d2f2fdd2e","name":"Rename Keys","type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[2740,-420]},{"parameters":{"keys":{"key":[{"currentKey":"name","newKey":"github_file"}]},"additionalOptions":{}},"id":"06fbf3bc-4af7-4d23-ab2f-bf36ba95b438","name":"Rename Keys1","type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[2740,-240]},{"parameters":{"batchSize":"={{ $input.all().length }}","options":{}},"id":"d4d653df-9cf5-4741-a8f3-4935bae9b5e1","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2980,-420]},{"parameters":{},"id":"c3e4914c-363c-49a7-8e80-54eecf2bbeec","name":"Replace Me","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4160,-80]},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"github_file","renameField":true,"outputFieldName":"github_files"}]},"options":{}},"id":"b35be226-ae51-42ac-a7c2-473074a898a6","name":"Aggregate","type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2980,-240]},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"PhillypHenning","mode":"list","cachedResultName":"PhillypHenning","cachedResultUrl":"https://github.com/PhillypHenning"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/PhillypHenning/n8n-workflows"},"filePath":"=workflows/{{ $json.workflow_name }}","fileContent":"={{JSON.stringify($json.content)}}","commitMessage":"Created by N8N workflow"},"id":"74a1c693-a891-4dd0-985a-5c7ebd4c740e","name":"GitHub4","type":"n8n-nodes-base.github","typeVersion":1,"position":[3560,-220],"credentials":{"githubApi":{"id":"whjIigQshwhek0Hu","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"PhillypHenning","mode":"list","cachedResultName":"PhillypHenning","cachedResultUrl":"https://github.com/PhillypHenning"},"repository":{"__rl":true,"value":"n8n-workflows","mode":"list","cachedResultName":"n8n-workflows","cachedResultUrl":"https://github.com/PhillypHenning/n8n-workflows"},"filePath":"=workflows/{{ $json.workflow_name }}","fileContent":"={{JSON.stringify($json.content)}}","commitMessage":"Created by N8N workflow"},"id":"3db895fc-4881-49d0-99a8-cca146cedf57","name":"GitHub5","type":"n8n-nodes-base.github","typeVersion":1,"position":[3560,-420],"credentials":{"githubApi":{"id":"whjIigQshwhek0Hu","name":"GitHub account"}}},{"parameters":{},"id":"6aa4af0e-dcdb-4752-8c16-ba8713f72942","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2140,580],"disabled":true},{"parameters":{},"id":"e0a0ce84-3954-42e4-a777-2a14c2a689aa","name":"Merge1","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2180,-340]},{"parameters":{},"id":"5bd9b1a8-9afb-44ca-9f0d-1b630ad331d8","name":"Merge2","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1560,-100]},{"parameters":{},"id":"47c8555c-6ef9-4940-957e-739406875d54","name":"Merge3","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2020,220]}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Start Workflow","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Start Workflow","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Create file name from workflows","type":"main","index":0}]]},"Start Workflow":{"main":[[{"node":"Get N8N Workflow data","type":"main","index":0},{"node":"Get Github Repo Listing","type":"main","index":0}]]},"Get N8N Workflow data":{"main":[[{"node":"n8n","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Code1":{"main":[[{"node":"Split Out","type":"main","index":0},{"node":"Split Out1","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"GitHub2","type":"main","index":0}]]},"Split Out1":{"main":[[{"node":"GitHub3","type":"main","index":0}]]},"Get Github Repo Listing":{"main":[[{"node":"GitHub","type":"main","index":0}]]},"Using native nodes":{"main":[[{"node":"Edit Fields","type":"main","index":0},{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Rename Keys1","type":"main","index":0}]]},"If":{"main":[[{"node":"GitHub5","type":"main","index":0}],[{"node":"GitHub4","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Rename Keys","type":"main","index":0}]]},"Rename Keys1":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Rename Keys":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"If","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Using native nodes","type":"main","index":0}]]},"Create file name from workflows":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Merge3":{"main":[[{"node":"Code1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7c404513-bb80-449d-a479-6861b1a81996","triggerCount":1,"tags":[]}